:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start To Top */
.to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  bottom: 15px;
  color: #fff;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  right: 15px;
  line-height: 40px;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  display: none;
}
/* End To Top */
.settinges-box {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  min-height: 100vh;
  width: 200px;
  transition: 0.3s;
  padding: 10px 5px;
  top: 0;
  left: -210px;
}
.settinges-box .toggle-container {
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 150px;
  background-color: #fff;
}
.settinges-box .icon {
  padding: 8px 0;
  width: 30px;
}
.settinges-box.open {
  left: 0;
}
.settinges-box .option-Box {
  padding: 20px;
  text-align: center;
}
.settinges-box .option-Box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settinges-box .option-Box .colors-list {
  list-style: none;
  padding: 0;
}
.settinges-box .option-Box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}
.settinges-box .option-Box .colors-list li.active {
  opacity: 1;
}
.settinges-box .option-Box .colors-list li:first-child {
  background-color: #ff9800;
}
.settinges-box .option-Box .colors-list li:nth-child(2) {
  background-color: #9c27b0;
}
.settinges-box .option-Box .colors-list li:nth-child(3) {
  background-color: #03a9f4;
}
.settinges-box .option-Box .colors-list li:nth-child(4) {
  background-color: #e91e63;
}
.settinges-box .option-Box .colors-list li:nth-child(5) {
  background-color: #009688;
}
.settinges-box .random-back {
  margin: 10px 0 0;
}
.settinges-box .option-Box .yes,
.settinges-box .option-Box .no {
  display: inline-block;
  width: 50px;
  background-color: #333;
  color: white;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}
.settinges-box .option-Box span:hover,
.settinges-box .option-Box span.active {
  opacity: 1;
}
.settinges-box .reset-option {
  width: 178px;
  display: block;
  margin: 20px auto;
  border: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 15px 5px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}
/* End Setting Box */
/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  width: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.nav-bullets .bulltes {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.nav-bullets .bulltes:hover {
  background-color: #fff;
}
.nav-bullets .bulltes .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  display: none;
  transition: 0.3s;
  cursor: default;
  pointer-events: none;
}
.nav-bullets .bulltes:hover .tooltip {
  display: block;
}
.nav-bullets .bulltes .tooltip::before {
  position: absolute;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -20px;
  transition: 0.3s;
}
/* End Nav Bullets */
/* Start landing Page */
.landing-page {
  min-height: 100vh;
  position: relative;
  background-image: url("../Images/01.jpg");
  background-size: cover;
}
.landing-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 1000;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area {
  z-index: 2;
  position: relative;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.header-area .logo:hover {
  transform: translate(10px, 5px);
  color: #03a9f4;
}
.header-area .link {
  list-style: none;
  padding-left: 0;
}
.header-area .links-container .toggle-bars {
  font-size: 40px;
  margin-top: 8px;
  cursor: pointer;
  display: none;
}
.header-area .link li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .link a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header-area .link a:hover,
.header-area .link a.active {
  color: var(--main-color);
}
.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  width: 95%;
}
.introduction-text h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
@media (max-width: 576px) {
  .introduction-text h1 {
    font-size: 20px;
  }
}
.introduction-text span {
  color: var(--main-color);
}
.introduction-text p {
  margin: 0;
}
@media (max-width: 576px), (max-width: 768px) {
  .header-area .link {
    display: none;
  }
  .header-area .links-container .link.open {
    background-color: rgb(48 59 70);
    display: block;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 4px;
    text-align: right;
  }
  .header-area .links-container .link.open::before {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(74 92 110) transparent;
    top: -30px;
    right: 10px;
  }
  .header-area .link li {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    border-bottom: 3px solid var(--main-color);
    padding: 6px;
  }
  .header-area .link li a {
    text-transform: uppercase;
  }
  .header-area .links-container .toggle-bars {
    display: block;
    transition: linear 0.3s;
  }
}
/* @media (max-width: 768px) {
  .header-area .link {
    display: none;
  }
  .header-area .links-container .toggle-bars {
    display: block;
  }
} */
/* End landing Page */
/* Start About US */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex: 1;
  padding: 50px;
}
@media (max-width: 576px), (max-width: 768px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box {
    padding: 10px;
  }
}
.about-us .info-box h2 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.about-us .info-box p {
  line-height: 1.8;
  color: #737171;
  margin: 0;
}
.about-us .img-box {
  flex: 1;
  text-align: center;
}
.about-us .img-box img {
  width: 250px;
}
/* End About US */
/* Start OurSkills */
.skills {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills h2 {
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  margin: 0 0 50px;
  position: relative;
  width: fit-content;
  margin: 0 auto 50px;
}
.skills h2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  bottom: -5px;
  left: 0;
  border-radius: 6px;
  transition: 0.3s;
}
.skills h2:hover::before {
  width: 100%;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.skills .skill-box .skil-name {
  width: 140px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
@media (max-width: 576px), (max-width: 768px) {
  .skills .skill-box {
    display: block;
    text-align: center;
  }
  .skills .skill-box .skil-name {
    width: 100%;
    margin-bottom: 10px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box span {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  width: 0;
  height: 100%;
  top: 0;
  transition: all 1s;
  border-radius: inherit;
}
/* End OurSkills */
/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  margin: 0 0 50px;
  position: relative;
  width: fit-content;
  margin: 0 auto 50px;
}
.gallery h2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  bottom: -5px;
  left: 0;
  border-radius: 6px;
  transition: 0.3s;
}
.gallery h2:hover::before {
  width: 100%;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 1001;
}
.popup-box h3 {
  color: var(--main-color);
  margin: 0 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.popup-box img {
  max-width: 100%;
  border-radius: inherit;
}
.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}
/* End Gallery */
/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left:before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -35px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.timeline .timeline-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}
/* End Timeline */
/* Start Our Feauter */
.feature {
  padding-top: 80px;
  padding-bottom: 80px;
}
.feature h2 {
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  margin: 0 0 50px;
  position: relative;
  width: fit-content;
  margin: 0 auto 50px;
}
.feature h2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  bottom: -5px;
  left: 0;
  border-radius: 6px;
  transition: 0.3s;
}
.feature h2:hover::before {
  width: 100%;
}
.feature .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin: 0 0 40px;
}
@media (max-width: 991px) {
  .feature .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 576px) {
  .feature .feat-box {
    width: 100%;
  }
}
.feature .feat-box img {
  width: 100px;
}
.feature .feat-box h4 {
  margin-bottom: 40px;

  font-size: 22px;
  position: relative;
}
.feature .feat-box h4::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 40px;
  height: 4px;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  border-radius: 2px;
}
.feature .feat-box p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #777;
}
/* End Our Feauter */
/* Start Testimonials */
.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.testimonials::before,
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.testimonials::before {
  background-color: var(--main-color);
  left: 0;
}
.testimonials::after {
  background-color: #333;
  right: 0;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
}
.testimonials .ts-box {
  position: relative;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 576px), (max-width: 768px) {
  .testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials .ts-box {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .testimonials .ts-box > p {
    text-align: left;
    font-size: 13px;
    margin: 0 0 15px;
  }
}
.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  line-height: 1.4;
  margin: 0 0 22px;
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}
.testimonials .ts-box .person-info h4 {
  margin: 0 0 15px;
}
.testimonials .ts-box .person-info p {
  margin: 0;
  color: #6f6e6e;
}
/* End Testimonials */
/* Start Contact-us */
.contact-us {
  position: relative;
  background-image: url("../Images/contact.png");
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* z-index: -1; */
}
.contact-us .container {
  z-index: 2;
  position: relative;
}
.contact-us h2 {
  text-align: center;
  color: var(--main-color);
}
.contact-us form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact-us .colum-left {
  float: left;
  width: 49%;
}
.contact-us .colum-right {
  float: right;
  width: 49%;
}
@media (max-width: 576px), (max-width: 768px) {
  .contact-us form {
    display: flex;
    flex-direction: column;
  }
  .contact-us .colum-left,
  .contact-us .colum-right {
    width: 100%;
  }
}
.contact-us form input:not([type="submit"]),
.contact-us form textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
  transition: 0.3s;
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
  transition: 0.3s;
  outline: 1px solid #9c27b0;
}
.contact-us form input {
  height: 40px;
}
.contact-us form textarea {
  height: 170px;
}
.contact-us form input[type="submit"] {
  width: 100%;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 600;
}
.contact-us form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact-us form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* End Contact-us */
/* Start Footer */
.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 25px;
  text-align: center;
  font-weight: bold;
}
/* End Footer */
/* Start Grid System */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
